@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .font-inter{
        font-family: "Inter", sans-serif;
    }

    .custom-btn{
        background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    }

    .color-card{
        background-color: rgba(53, 17, 101, 0.4);
    }

    .wave-color{
        color: linear-gradient(47.64deg, rgba(255, 255, 255, 1), rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    }


}




/* navbar related style */
.navbar{
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}

/* Hero section related style */
.hero-img-container{
    position: relative;
    top: 3px;
    left: 780px;
}


.hero-img-container .microphone{
    position: relative;
    top: -255px;
    left: 118px;
}

.hero-img-container .hero-img-btn{
    position: relative;
    top: 50px;
    left: 250px;
}

/* Footer related Style */
.footer-section{
    background: url('/images/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Mobile Device */
@media screen and (max-width: 576px) {
    .navbar-menu, .custom-btn{
        display: none;
    }

    .navbar-container{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 15px;
    }
    
}